*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 16px * 62.5% = 1rem = 10px;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.6rem;
  background: $neutralVeryDarkBlue;
  color: $neutralWhite;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

button {
  cursor: pointer;
  outline: 0;
  border: 0;
}
