//color variables
$primaryOrange: hsl(25, 97%, 53%);

$neutralWhite: hsl(0, 0%, 100%);
$neutralLightGrey: hsl(217, 12%, 63%);
$neutralMediumGrey: hsl(216, 12%, 54%);

$neutralDarkBlue: hsl(213, 19%, 18%);
$neutralVeryDarkBlue: hsl(216, 12%, 8%);

//fonts sizes
$smallFontSize: 1.5rem;

//transition
$transition-fastest: all 300ms cubic-bezier(0.5, 0.19, 0.55, 0.77);
